<div class="example-container mat-elevation-z8">

  <mat-grid-list cols="2" rowHeight="100px">
    <mat-grid-tile>
      <h2 class="text-inside-grid-left"> Leads </h2>
    </mat-grid-tile>
    <mat-grid-tile>
      <button class="text-inside-grid-right top-50" mat-raised-button (click)="openDialog()">Add Lead</button>
    </mat-grid-tile>
  </mat-grid-list>

  <mat-table #table [dataSource]="dataSource">

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns; let idx = index"></mat-row>

    <ng-container matColumnDef="lead">
      <mat-header-cell *matHeaderCellDef> Lead </mat-header-cell>
      <mat-cell *matCellDef="let element; let idx = index" (click)="nextStep(idx)"> {{element.name}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
      <mat-cell *matCellDef="let element; let idx = index" (click)="nextStep(idx)">  {{element.email}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="phone">
      <mat-header-cell *matHeaderCellDef> Phone </mat-header-cell>
      <mat-cell *matCellDef="let element; let idx = index" (click)="nextStep(idx)">  {{element.phone}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="address">
      <mat-header-cell *matHeaderCellDef> Address </mat-header-cell>
      <mat-cell *matCellDef="let element; let idx = index" (click)="nextStep(idx)"> {{element.address}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="action" >
      <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
      <mat-cell *matCellDef="let element; let idx = index">
         <button mat-button color="warn">Edit</button>
         <button mat-button color="warn" (click)="remove(idx)">Remove</button>
       </mat-cell>
    </ng-container>

  </mat-table>
</div>
