<p>
  details works!
</p>
<ul>
  <li *ngFor="let l of elements">{{l.name}}</li>
</ul>
<div>
  <!-- <mat-form-field>
    <input matInput [(ngModel)]="data.name" placeholder="Enter lead">
  </mat-form-field>
  <mat-form-field>
    <input matInput [(ngModel)]="data.email" placeholder="Enter email">
  </mat-form-field>
  <mat-form-field>
    <input matInput [(ngModel)]="data.phone" placeholder="Enter phone">
  </mat-form-field>
  <mat-form-field>
    <input matInput [(ngModel)]="data.address" placeholder="Enter address">
  </mat-form-field>
</div> -->
<div>
  <button mat-button (click)="onNoClickAdd()">Ok</button>
</div>
